[Unit]
Description=Pure FTP Daemon
After=network-online.target

[Service]
Type=simple
UMask=0027
RuntimeDirectory=pure-ftpd
RuntimeDirectoryMode=0700
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectSystem=full
ProtectHostname=true
ProtectProc=noaccess
ProcSubset=pid
ProtectClock=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=true
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
PrivateDevices=true
PrivateTmp=true
Environment=CONF=%h/.config/pure-ftpd.conf
Environment=AUTHD=0
Environment=AUTHD_CONF=
Environment=CERTD=0
Environment=CERTD_CONF=
Environment=USCRIPT=0
Environment=USCRIPT_CONF=
EnvironmentFile=-%h/.config/systemd/pure-ftpd.conf
ExecStart=/usr/sbin/pure-ftpd $CONF
ExecStartPost=/usr/sbin/pure-authd $AUTHD_CONF
ExecStartPost=/usr/sbin/pure-certd $CERTD_CONF
ExecStartPost=/usr/sbin/pure-uploadscript $USCRIPT_CONF -p
NotifyAccess=exec
WatchdogSec=30

[Install]
WantedBy=basic.target
